
<div class="col-md-7">
  <h3>Send us a message</h3>
  <form>
    <div class="mb-3">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName">
    </div>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="inputPhoneNumber" class="form-label">Phone</label>
      <input type="number" class="form-control" id="inputPhoneNumber">
    </div>
    <div class="mb-3">
        <label for="inputMessage" class="form-label">Message</label>
        <textarea rows="4" class="form-control" id="inputMessage"> </textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send Message</button>
  </form>
</div>