<header class="py-3 mb-4 border-bottom" id="resourcesHeader">
  <div class="container d-flex flex-wrap justify-content-center">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a class="nav-link px-2" target="_blank" href="/assets/resources/Credit Form LPG April 2023 version 7.pdf">Credit Application</a></li>
      <li><a class="nav-link px-2" target="_blank" href="/assets/resources/Returns Policy for Expired Goods.doc.pdf">Returns Policy for Expired Goods</a></li>
      <li><a class="nav-link px-2" target="_blank" href="/assets/resources/Return Authorization Form 005.pdf">Return Authorization</a></li>
      <li><a class="nav-link px-2" target="_blank" href="/assets/resources/End Use Declaration.pdf">End Use Declaration</a></li>
    </ul>
  </div>
</header>

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <div class="col-md-3 mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <img src="/assets/images/companylogo.png" alt="">
    </a>
  </div>
  <span class="navbar-text">
    (877) 710-0707
  </span>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li class="nav-item"><a class="nav-link px-2" href="/about">About Us</a></li>
    <li class="nav-item"><a class="nav-link px-2" href="/pharmaceutical">Pharmaceutical</a></li>
    <li class="nav-item"><a class="nav-link px-2" href="/logistics">Logistics</a></li>
    <li class="nav-item"><a class="nav-link px-2" href="/contact">Contact</a></li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" target="_blank" href="/assets/resources/Credit Form LPG April 2023 version 7.pdf">Credit Application</a></li>
        <li><a class="dropdown-item" target="_blank" href="/assets/resources/Returns Policy for Expired Goods.doc.pdf">Returns Policy for Expired Goods</a></li>
        <li><a class="dropdown-item" target="_blank" href="/assets/resources/Return Authorization Form 005.pdf">Return Authorization</a></li>
        <li><a class="dropdown-item" target="_blank" href="/assets/resources/End Use Declaration.pdf">End Use Declaration</a></li>
      </ul>
    </li>   
  </ul>
</header>


<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid"> 
      <a class="navbar-brand" href="/">
        <img src="/assets/images/companylogo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"><li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="/pharmaceutical">Pharmaceutical</a></li>
          <li class="nav-item"><a class="nav-link" href="/logistics">Logistics</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" target="_blank" href="/assets/resources/Credit Form LPG April 2023 version 7.pdf">Credit Application</a></li>
              <li><a class="dropdown-item" target="_blank" href="/assets/resources/Returns Policy for Expired Goods.doc.pdf">Returns Policy for Expired Goods</a></li>
              <li><a class="dropdown-item" target="_blank" href="/assets/resources/Return Authorization Form 005.pdf">Return Authorization</a></li>
              <li><a class="dropdown-item" target="_blank" href="/assets/resources/End Use Declaration.pdf">End Use Declaration</a></li>
            </ul>
          </li>   
        </ul>
        <span class="navbar-text">
          (877) 710-0707
        </span>
      </div>
    </div>
  </nav>