<nav class="navbar-dark bg-dark" id="darkHeader">
  <div class="container d-flex flex-wrap justify-content-center">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link-dark" target="_blank" href="/assets/resources/Credit Form LPG.pdf">Credit Application</a></li>
        <li><a class="nav-link-dark" target="_blank" href="/assets/resources/Returns Policy for Expired Goods.pdf">Returns Policy for Expired Goods</a></li>
        <li><a class="nav-link-dark" target="_blank" href="/assets/resources/Return Authorization Form.pdf">Return Authorization</a></li>
        <li><a class="nav-link-dark" target="_blank" href="/assets/resources/End Use Declaration.pdf">End Use Declaration</a></li>
      </ul>
    </div>  
  </nav>

<div class="container-xxl">
  <row>
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mb-4 border-bottom">
    
      <div class="col-sm-auto mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img src="/assets/images/companylogo.png" alt="">
        </a>
      </div>
      
      <div class="col-md-auto">
          <ul class="nav col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/pharmaceutical">Pharmaceutical</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
          </ul>
      </div>
      <div class="col-sm-auto align-items-right">
        <span class="navbar-text" >
        (877) 710-0707
        </span>
      </div>
  </header>
</row>
</div>