@import "vars";
@import "bootstrap-5.3.2/scss/bootstrap.scss";

/* Custom Styles */



body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.nav-link-dark {
  @extend .nav-link;
  color: $nav-link-dark-color;
  font-size: medium;
  font-weight: null;
  &:hover {
    color: $nav-link-hover-dark-color;
    font-weight: $nav-link-hover-dark-weight;
  }
  &:focus {
    color: $nav-link-hover-dark-color;
  }
}

.navbar-text {
  color: $secondary;
  font-weight: 600;
}

.navbar-toggler {
  background-color: $nav-link-dark-color;
  color: $secondary;
  border-color: $secondary;
}

.text-body-secondary {
  color: $secondary;
}


.form-control:focus {
  border-color: $secondary;
  box-shadow: 0 0 0 0.2rem rgba(118, 98, 72, 0.25);
} 