@import "vars";
@import "bootstrap-5.3.2/scss/bootstrap.scss";

/* Custom Styles */



body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.nav-link-dark {
  @extend .nav-link;
  color: $nav-link-dark-color;
  font-size: medium;
  font-weight: null;
  &:hover {
    color: $nav-link-hover-dark-color;
    font-weight: $nav-link-hover-dark-weight;
  }
}


